.EN{
	color:white;
	font-size:25px;
	margin:-40px 30px 0px 1230px;
}
.list{
	color:white;
	font-size:18px;
	margin:-23px 30px 0px 1270px;
}
.hello{
	color:white;
	font-size:13px;
	margin:-35px 30px 0px 1273px;
}
.orders{
	color:white;
	font-size:18px;
	margin:-2px 30px 0px 1395px;
}
.Return{
	color:white;
	font-size:16px;
	margin:-35px 30px 0px 1398px;
}
.cart{
	color:white;
	font-size:20px;
	margin:-4px 30px 0px 1475px;
}
.top1{
	background-color:#294258;
	height:40px;
	margin:0px 0px 0px 0px;
}
.All{
	color:white;
	font-size:20px;
	margin:-23px 0px 0px 55px;
}
.fresh{
	color:white;
	font-size:20px;
	margin:-23px 0px 0px 100px;
}
.Amazone{
	color:white;
	font-size:20px;
	margin:-23px 0px 0px 170px;
}
.minitv{
	color:white;
	font-size:20px;
	margin:-22px 0px 0px 250px;
}
.sell{
	color:white;
	font-size:20px;
	margin:-22px 0px 0px 340px;
}
.Best{
	color:white;
	font-size:20px;
	margin:-22px 0px 0px 400px;
}
.sellers{
	color:white;
	font-size:20px;
	margin:-22px 0px 0px 440px;
}
.mobiles{
	color:white;
	font-size:20px;
	margin:-22px 0px 0px 520px;
}
.today{
	color:white;
	font-size:20px;
	margin:-22px 0px 0px 610px;
}
.deal{
	color:white;
	font-size:20px;
	margin:-23px 0px 0px 680px;
}
.electronics{
	color:white;
	font-size:20px;
	margin:-23px 0px 0px 750px;
}
.customerservice{
	color:white;
	font-size:20px;
	margin:-23px 0px 0px 870px;
}
.prime{
	color:white;
	font-size:20px;
	margin:-23px 0px 0px 1030px;
}
.gift{
	color:white;
	font-size:20px;
	margin:-23px 0px 0px 1100px;
	
}
.Launches{
	color:white;
	font-size:20px;
	margin:-21px 0px 0px 1275px;
}
.skyblue{
	background-color:#e6e6e6;
	height:300px;
	margin:-15px 0px 0px 0px;
}
.first{
	background-color:#e6e6e6;
	height:2700px;
	margin:-5px 0px 0px 0px;
}
.second{
	background-color:white;
	height:430px;
	width:350;
	margin:20px 0px 0px 0px;
}
.Revamp{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 40px;
}
.bedsheet{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.cushion{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.vasse{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.Figurines{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.homestorage{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.home{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.lighting{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.solution{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.explore1{
	color:#007185;
	font-size:15px;
	margin:28px 0px 0px 20px;
}
.second{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 390px;
}
.headphones{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 35px;
}
.boat1{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.boat{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.boult{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.boult1{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.noise1{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.noise{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.zebro{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.zebronics{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.third{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 770px;
}
.Appliances{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 40px;
	
}
.air{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px; 
}
.airconditioners{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.refrigerator{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.refrigerator1{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.micro{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.Microwaves{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.Washing{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.machine{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.fourth{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 1155px;
}
.style{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 23px;
}
.clothing{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.clothing1{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.fo{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.footwear20{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.Watch{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.watches13{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.bag{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.wallets{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.five{
	background-color:white;
	height:430px;
	width:350;
	margin:5px 0px 0px 0px;
}
.your{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 40px;
}
.spins{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.wipes{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.bathroom{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.hardware{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.hammers{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.screwdrivers{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.board{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.Extension{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.sixth{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 390px;
}
.stylewomen{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 30px;
}
.womenclothing{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.womens{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.footwear{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.footwear1{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.watches11{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.watches10{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.fashion{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.jewellerys{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.delight{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 55px;
}
.seventh{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 770px;
}
.baby{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.baby1{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.toy{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.softtoy{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.Indoorgames{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.Indoor{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.outdoor{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.outdoor1{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.eight{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 1155px;
}
.automotive{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 29px;
}
.cleaning{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.accessories{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.rimcare{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.tyre{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.Helmets{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.helmets1{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.vaccum{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.cleaner{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.nine{
	background-color:white;
	height:450px;
	margin:10px 0px 0px 0px;
}
.todaydeal{
	color:black;
	font-size:30px;
	margin:10px 0px 0px 29px;
	padding-top;20px;
}
.sellall{
	color:#007185;
	font-size:15px;
	margin:-25px 0px 0px 225px;
}
.narzo60{
	height:280px;
	width:270;
	margin:25px 0px 0px 35px;
}
.narzo61{
	height:280px;
	width:270;
	margin:25px 0px 0px 20px;
}
.redmi13{
	height:280px;
	width:270;
	margin:25px 0px 0px 20px;
}
.realnarzo{
	height:280px;
	width:270;
	margin:25px 0px 0px 20px;
}
.limited23{
	color:red;
	font-size:17px;
	margin:10px 0px 0px 35px;	
}
.mrp{
	color:black;
	font-size:20px;
	margin:10px 0px 0px 35px;
}
.limited24{
	color:red;
	font-size:17px;
	margin:-85px 0px 0px 330px;
}
.realmenarzo61{
	color:black;
	font-size:20px;
	margin:10px 0px 0px 330px;
}
.limited25{
	color:red;
	font-size:17px;
	margin:-85px 0px 0px 622px;
}
.redmi13c{
	color:black;
	font-size:20px;
	margin:10px 0px 0px 622px;
}
.limited26{
	color:red;
	font-size:17px;
	margin:-85px 0px 0px 918px;
}
.Eng{
	color:black;
	font-size:20px;
	margin:10px 0px 0px 918px;
}
.realnarzon53{
	color:black;
	font-size:20px;
	margin:10px 0px 0px 920px;
}
.limited27{
	color:red;
	font-size:17px;
	margin:-85px 0px 0px 1215px;
}
.iQOO{
	color:black;
	font-size:20px;
	margin:10px 0px 0px 1215px;
}
.ten{
	background-color:white;
	height:350px;
	margin:10px 0px 0px 0px;
}
.Electric{
	color:black;
	font-size:30px;
	margin:10px 0px 0px 29px;
}
.scooter1{
	height:280px;
	width:270;
	margin:25px 0px 0px 35px;
}
.scooter{
	height:280px;
	width:270;
	margin:25px 0px 0px 20px;
}
.eleven{
	background-color:white;
	height:250px;
	margin:10px 0px 0px 0px;
}
.software{
	color:black;
	font-size:30px;
	margin:10px 0px 0px 29px;
}
.escan{
	height:180px;
	width:150;
	margin:25px 0px 0px 35px;
}
.globale{
	height:180px;
	width:150;
	margin:25px 0px 0px 25px;
}
.bros{
	height:180px;
	width:220;
	margin:25px 0px 0px 20px; 
}
.netprotector{
	height:180px;
	width:220;
	margin:25px 0px 0px 20px;
}
.norton{
	height:180px;
	width:180;
	margin:25px 0px 0px 20px;
}
.background12{
	background-color:white;
	height:430px;
	width:350;
	margin:10px 0px 0px 0px;
}
.minimum{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 20px;
}
.allensolly{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.fortcollins{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.biba{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.Aurelia{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.Womenista{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.Mimosa{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.harpa{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.harpaonly{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.background13{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 390px;
}
.shoe30{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 30px;
}
.shortshoe{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.sportshoe15{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.jewellerysaccessories{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.jewellerysaccessories22{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.watchsmartwatch{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.watchsmartwatch1{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.luggage{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.walletluggage{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.background14{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 770px;
}
.ratedproduct{
	color:black;
	font-size:25px;
	margin:10px 0px 0px 40px;
}
.skincare{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.skincare21{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.haircare{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.haircare2{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.groomingdevices{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.groomingdevices28{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.Deos{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.fragrance{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.background15{
	background-color:white;
	height:430px;
	width:350;
	margin:-440px 0px 0px 1155px;
}
.lovedfashion{
	color:black;
	font-size:23px;
	margin:10px 0px 0px 25px;
}
.two{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.cleaning36{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.whiteshoe56{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.tyrerimcare{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.shortt-shirt{
	height:130px;
	width:140;
	margin:10px 0px 0px 18px;
}
.shortt-shirt1{
	color:black;
	font-size:15px;
	margin:10px 0px 0px 20px;
}
.uspollo{
	height:130px;
	width:140;
	margin:-157px 0px 0px 190px;
}
.uspollo1{
	color:black;
	font-size:15px;
	margin:-18px 0px 0px 190px;
}
.background16{
	background-color:skyblue;
	height:300px;
	width:1000;
	margin:10px 0px 0px 250px;
}
.minitv1{
	height:300px;
	width:1000;
}
.background17{
	background-color:white;
	height:300px;
	margin:15px 0px 0px 0px;
}
.seepersonalized{
	color:black;
	font-size:23px;
	margin:40px 0px 0px 600px;
}
.signin{
	color:#007185;
	font-size:23px;
	margin:10px 0px 0px 730px;
}
.newcustomer{
	color:black;
	font-size:23px;
	margin:10px 0px 0px 640px;
}
.background18{
	background-color:#294258;
	height:50px;
	margin:-140px 0px 0px 0px;
}
.backtotop{
	color:white;
	font-size:15px;
	margin:0px 0px 0px 725px;
	padding-top:13;
}
.background19{
	background-color:1a2937;
	height:500px;
	margin:30px 0px 0px 0px;
}
.gettoknowus{
	color:white;
	font-size:15px;
	margin:-10px 0px 0px 150px;
	padding-top:50;
}
.Aboutus{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 150px;
}
.carreers{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 150px;
}
.pressreleases{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 150px;
}
.careers{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 150px;
}
.amazonscience{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 150px;
}
.connectwithus{
	color:white;
	font-size:15px;
	margin:-110px 0px 0px 450px;
}
.facebook{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 450px;
}
.twitter{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 450px;
}
.instagram{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 450px;
}
.makemoney{
	color:white;
	font-size:15px;
	margin:-85px 0px 0px 750px;
}
.global{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 750px;
}
.letushelpyou{
	color:white;
	font-size:15px;
	margin:-200px 0px 0px 1150px;
}
.youraccout{
	color:white;
	font-size:15px;
	margin:5px 0px 0px 1150px;
}
.background26{
	color:white;
	margin:120px 0px 0px 0px;
}
.amozoneq{
	height:30px;
	width:100;
	margin:40px 0px 0px 580px;
}
.English{
	eight:30px;
	width:100;
	margin:40px 0px 0px 80px;
}
.Australia{
	color:white;
	font-size:13px;
	margin:10px 0px 0px 250px;
	padding-top:20;
}
.brazil{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 340px;
}
.canada{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 410px;
}
.china{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 490px;
}
.france{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 560px;
}
.germany{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 640px;
}
.italy{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 740px;
}
.japan{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 810px;
}
.maxico1{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 890px;
}
.nehter{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 990px;
}
.poland{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 1120px;
}
.singapore{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 1200px;
}
.unitedkindom{
	color:white;
	font-size:13px;
	margin:10px 0px 0px 620px;
}
.unitedstate{
	color:white;
	font-size:13px;
	margin:-15px 0px 0px 730px;
}
.wid{
	background-color:white;
	height:430px;
	width:350;
	margin:20px 0px 0px 0px;
}
.firth11{
	background-color:black;
	height:50px;
}
.amazon01{
	height:40px;
	width:120;
}
.location77{
	height:47px;
	width:180;
	margin:0px 0px 0px 10px;
}
.searchmore33{
	height:40px;
	width:900;
}
.s{
	color:#007185;
	font-size:15px;
	margin:28px 0px 0px 20px;
}
.sellalloffer37{
	color:#007185;
	font-size:18px;
	margin:-25px 0px 0px 730px;
}
.seealloffer38{
	color:#007185;
	font-size:18px;
	margin:-25px 0px 0px 1000px;
}

	




	



